body {
    color: #252c26;
    font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}

.top {
    color: white;
    font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.42857143;
    font-size: 1.0rem;
    display: block;
    height: 48px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 9px;
    background-color: #2d2b31;
    text-align: center;
}

.header {

}

.top-information {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.3;
    padding-top: 5px;
    padding-left: 5px;
    background: rgba(169, 176, 137);
    color: #fff;
    height: 50px;
    display: block;
}

.information {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.3;
    padding-top: 5px;
    padding-left: 5px;
    background: rgba(169, 176, 137);
    color: #fff;
    height: 100px;
    display: block;
}

.delivery-information {
    float: left;
}

.top-title-2 {
    font-size: 0.8rem;
}
.account-information {
    float: right;
    display: block;
    padding-right: 5px;
}
.usd-information {
    float: right;
    display: block;
    padding-right: 5px;
}

.phone-icon {
    display: block;
    float: left;
    padding-left: 5px;
}

.phone span a  {
    float: left;
    padding-left: 5px;
    color: #252c26;
    font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
    font-style: normal;
    line-height: 1.42857143;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.phone-block {
    display: block;
    float: left;
}

.logo {
    float: top;
    display: block;
    margin-right: auto;
    margin-left: auto;
}